* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main {
    background: #FFFFFF;
    padding-left: 99px;
    padding-right: 99px;
}

.header__container {
    height: 55px;

    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__container>* {
    height: 55px;
}

/* Icon header */
.header__container>img {
    height: 35px;
}


.header__form {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

editor-squiggler {
    display: none;
}

/* Input header */
.header__form>form>input[type='text'] {
    width: 300px;
    height: 55px;
    margin-left: 24px;
    padding-left: 55px;

    border: 1px solid #BDBDBD;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
    border-radius: 12px;

    /* Icon */
    background-image: url(./assets/searchIcon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 17.05px center;
}

.header__for>form>input[type='text']:hover {
    border: 1px solid #3DB46D;
    cursor: text;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.29));
    transition: all 0.3s 0s ease;


}

.header__form>form>input[type='text']:focus-visible {
    outline: none;
    border: 1px solid #3DB46D;
}

/* Btn header */

.header__buttons {
    display: flex;
}

/* div btn columns */
.header__buttons>div {
    margin-right: 10px;
    padding: 0px 10px 0px 10px;

    border: 1px solid #BDBDBD;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.header__buttons>div>p {
    margin-right: 10px;
    color: #333333;
    font-size: 14px;
}

.header__buttons>div>div button {
    padding: 4px;
    margin: 3px;
    width: 30px;
    height: 30px;

    border-radius: 6px;
    background-color: transparent;
    font-weight: bold;
    color: #3DB46D;
    border: 1px solid #3DB46D;
}

.header__buttons>div>div button:hover {
    background-color: #3DB46D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s 0s ease;
}


.header__buttons>button {
    width: 137px;
    height: 55px;

    background: #3DB46D;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;

    /* Text button */
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__buttons>button:hover {
    cursor: pointer;
    background: #319f5d;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.294);
    transition: all 0.3s 0s ease;

}

/* Image container */
.image__container {
    margin-top: 74.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 46px;
}

.image__column {
    /* outline: 1px solid red; */
    flex-grow: 1;
    width: 100%;
}

.image__item {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}

.image__item img {
    width: 100%;
    border-radius: 24px;
    margin-bottom: 46px;
}

.image__info {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;

    border-radius: 24px;
    background-color: transparent;
}


.image__info>button {

    /* Hover effect */
    display: none;

    position: absolute;
    width: 100px;
    height: 40px;
    top: 18px;
    right: 18px;

    border: 1px solid #EB5757;
    border-radius: 38px;
    background: none;

    color: #EB5757;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 12px;
    text-transform: lowercase;
}

.image__info>button:hover {
    background-color: #EB5757;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s 0s ease;
}


.image__info>p {

    /* H1over effect */
    display: none;

    position: absolute;
    width: 80%;
    left: 24px;
    bottom: 34px;

    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

/* Hover effects! ^^ */
.image__info:hover {
    background: rgba(0, 0, 0, 0.81);
    transition: background 0.2s 0s ease;
}

.image__info:hover>button,
.image__info:hover>p {
    display: block;

}

/* Modal */
.modal__container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    /* Display childrens */
    display: flex;
    justify-content: center;
    align-items: center
}

.modal__background {

    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1000;
}

.modal__item {
    width: 620px;
    padding: 24px 32px 24px 32px;

    background: #FFFFFF;
    border-radius: 12px;
}

.modal__body h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    color: #333333;

}

.modal__body h4>span {
    background-color: #9effc5;
    padding: 2px;
}

.modal__form {
    margin-top: 24px;
}

.modal__form>p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    margin-bottom: 9.94px;

    color: #4F4F4F;

}

.modal__form>input[type='text'],
.modal__form>input[type='password'] {
    display: block;
    width: 100%;
    height: 55px;
    margin-bottom: 18px;

    border: 1px solid #4F4F4F;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
    border-radius: 12px;

    text-overflow: ellipsis;
    color: #333333;
    padding: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}



.modal__form>input[type='text']::-webkit-input-placeholder,
.modal__form>input[type='password']::-webkit-input-placeholder {
    color: #BDBDBD;
}

.modal__form>input[type='text']:focus-visible,
.modal__form>input[type='password']:focus-visible {
    outline: none;
    border: 1px solid #3DB46D;
    filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.2));

}

.modal__form_buttons {
    display: flex;
    justify-content: flex-end;
}

.modal__form_buttons>button {
    margin-top: 6px;
    height: 55px;
    padding: 0px 26px 0px 26px;
    margin-left: 10px;
    border-radius: 12px;
    border: none;

    /* Text button */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

/* Delete submit modal */
.modal__submit {
    background: #3DB46D;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

.modal__submit:hover {
    cursor: pointer;
    background: #35a562;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s 0s ease;
}

/* Delete button modal */
.modal__delete {
    background: #EB5757;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

.modal__delete:hover {
    cursor: pointer;
    background: #d24545;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s 0s ease;
}


.modal__cancel {

    /* Text button */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    background-color: transparent;
    color: #BDBDBD;
}


.modal__cancel:hover {
    cursor: pointer;
    color: #9d9d9d;
    transition: color 0.3s 0s ease;
}


/* Footer */

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 96vh;

    background-color: rgba(0, 0, 0, 0.415);
    backdrop-filter: blur(10px);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 14px;
    color: #FFFFFF;
}

.footer p a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

/* new title */
.header__title h2 {
    color: #3DB46D;
}

.header__title p {
    color: rgb(80, 80, 80);
}
/* Reponsive */


@media only screen and (max-width: 1000px) {
    .header__buttons>div {
        display: none;

    }

    /* Input header */
    .header__form>form>input[type='text'] {
        width: 100%;
        height: 55px;
        margin: 0;
        /* margin-left: 24px; */
        /* padding-left: 55px; */
    }


    .header__buttons>button {
        width: 100%;
        height: 55px;
        padding: 10px;
        margin-left: 5px;
    }


    .image__container {
        margin-top: 74px;
        flex-direction: row;
        gap: 5px;
    }

    .image__item img {
        height: 100%;
        margin-bottom: 0;
    }

    .image__item {
        margin-bottom: 0px;
    }

    .image__info {
        top: 0;
        bottom: 5px;
        left: 0;
        right: 0;
    }


}

@media only screen and (max-width: 500px) {
    .main {
        padding: 0px 6px;
        overflow-x: hidden;
    }

    .header__container {
        margin-top: 15px;
        flex-direction: column;
    }

    .header__container>img {
        margin: 10px;
        margin-bottom: 14px;
        width: 150px;
    }

    .header__form {
        width: 100%;
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        margin: 10px 0px; 
    }

    /* Input header */
    .header__form>form>input[type='text'] {
        width: 100%;
        height: 55px;
        margin: 0;
        /* margin-left: 24px; */
        /* padding-left: 55px; */
    }

    .header__buttons>button {
        width: 100%;
        height: 55px;
        padding: 10px;
        margin-left: 5px;
    }


    .header__buttons>div {
        display: none;
    }

    .image__container {
        margin-top: 74px;
        flex-direction: column;
        gap: 0px;
    }

    .image__item img {
        height: 100%;
        margin-bottom: 0;
    }

    .image__item {
        margin-bottom: 15px;
    }




}
